{% extends 'base.html' %} {% block content %}
<h2>Resume Upload</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="document" />
  <button type="submit">Upload file</button>
</form>
{% if url %}
<p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
<h2>Score: {{ score }}</h2>
<p>Resume Contents:<br /><pre>{{ resume_text | pprint }}</pre></p>
<br>
<p>Job Description Contents:<br /><pre>{{ jd_text | pprint }}</pre></p>

{% endif %} {% endblock %}
